# Play Framework defaults
logs
project/project
project/target
target
tmp
dist
.cache

# Scala
*.class
*.log

# sbt specific
.history
.lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NodeJS / Gulp
node_modules
src/main/webapp
.tmp
app.yaml

# Temp Files
*~
*.swp
*.swo

# Misc
*.DS_Store
RemoteSystemsTempFiles/
.metadata/
