/**                                                                             
*                                                                               
* Form                                                                        
*                                                                               
**/ 

form {
    margin-top: 1em;

    .button--primary {
        margin: 1.5em 0 0 11em;
    }

    fieldset {
        margin: 0;
        padding: .35em 0 .75em;
        border: 0;
    }

    .form-group {
        margin-bottom: .5em;

        label {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            width: 10em;
            margin: 0 1em 0 0;
        }
    }

    input, select, textarea {
        padding: .5em .6em;
        display: inline-block;
        border: 1px solid #ccc;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    legend {
            display: block;
            width: 100%;
            padding: .3em 0;
            margin-bottom: .3em;
            color: #333;
            border-bottom: 1px solid #e5e5e5;
    }
}
